.modal {
  /* display: none; */
  height: 100vh;
  height: 100％;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow-y: scroll;
  /* background: rgba(0, 0, 0, 0.8); */
  background: rgba(70, 83, 225, 0.6);
}
.modal__bg {
  /* background: rgba(255, 255, 255, 0.8); */
  /* background: rgba(0, 0, 0, 0.8);
  height: 100vh; */
  /* height: 100%; */
  /* position: absolute;
  width: 100%; */
}
.modal__content {
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* padding: 40px; */
  width: 70%;
  margin: 120px 0;
  /* overflow-y: scroll; */
}

.modal__inner {
  width: 50%;
  margin: 0 auto;
  padding: 5% 0;
  /* background-color: aqua; */
  text-align: center;
  /* overflow: scroll; */
}

.modal__inner h1 {
  font-size: 2.5rem;
  padding: 0;
  margin: 0 0 2.5rem;
}

.modal__inner p {
  font-size: 1.2rem;
  padding: 0;
  margin: 0 0 2rem;
}

.modal__inner a#start {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding: 5% 10%;
  border-radius: 8px;
  background: rgba(70, 83, 225, 1);
}

.modal__inner a#start:hover {
  opacity: 0.8;
}

img.media {
  display: block;
  max-width: 100%;
  margin: 0 auto 2rem;
}
