:root {
  --screenWidth: 512px;
  --screenHeight: 256px;
}

#container {
  width: 100%;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #707bf7;
}

header img#logo {
  width: 60px;
  display: block;
  margin: 0 auto;
  padding: 1% 0;
}

#inner {
  width: var(--screenWidth);
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1300px) {
}
