:root {
  --screenWidth: 512px;
  --screenHeight: 256px;
}

#container {
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

#side {
  width: 15%;
  background-color: #f7f6f3;
}

#side img#logo {
  display: block;
  margin: 60px auto;
}

#inner {
  width: 1080px;
  margin: 30px auto;
  display: flex;
  box-sizing: border-box;
}

#left {
  width: 512px;
}

#left-left {
  width: 100%;
}
#left-right {
  width: 100%;
}

#right {
  width: 512px;
  /* background-color: aquamarine; */
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  #inner {
    display: block;
  }

  #left {
    margin: 0 auto;
  }

  #right {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1300px) {
  #container {
    height: 100vh;
  }
  #inner {
    display: flex;
    justify-content: space-between;
  }
}
