.btn-push {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  margin-top: 10px;
}

/* .btn-push:active {
  transform: translateY(4px);
  border-bottom: none;
} */

.default {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  margin-top: 10px;
}

.default:active {
  transform: translateY(4px);
  border-bottom: none;
}

#record-btn {
  background-color: #e45744;
  border-bottom: 4px solid #aa3324;
  margin-right: 15px;
}

#createGif-btn {
  background-color: #4653e2;
  border-bottom: 4px solid #1c2696;
}

.recording {
  background-color: #44e451;
  border-bottom: 4px solid #24aa2b;
  margin-right: 15px;
}
