textarea#textareaMsg {
  resize: none;
  width: var(--screenWidth);
  height: var(--screenHeight);
  padding: 30px 60px;
  box-sizing: border-box;
  font-size: 30px;
}

textarea#textareaMsg:focus {
  outline: none;
}
